<%= error_messages_for 'noticia' %>

<!--[form:noticia]-->
<p><label for="noticia_titulo">Titulo</label><br/>
<%= text_field 'noticia', 'titulo'  %></p>

<p><label for="noticia_contenido">Contenido</label><br/>
<%= text_area 'noticia', 'contenido'  %></p>
<!--[eoform:noticia]-->

