
<p><b>Módulo:</b><%=@unidad.modulo.codigo%></p>

<% for column in Unidad.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @unidad.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @unidad %> |
<%= link_to 'Back', :action => 'list' %>
