
<div id="extra">
<h3>Ayuda</h3>
<p>Los "festivos" nos permiten llevar un control de los días laborales,
 y evitar poner actividades por error.</p>
<p>Además, al final del curso, podremos comprobar los días lectivos que realmente hemos empleado,
 y así ajustar mejorar la asignación de horas en las programaciones futuras.</p>
</div>
