<% for column in Departamento.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @departamento.send(column.name) %>
</p>
<% end %>

<%= link_to 'Editar', :action => 'edit', :id => @departamento %> |
<%= link_to 'Volver', :action => 'list' %>
