<%= error_messages_for 'usuario' %>

<!--[form:usuario]-->
<p><label for="usuario_nombre">Nombre</label><br/>
<%= text_field 'usuario', 'nombre'  %></p>

<p><label for="usuario_clave">Clave</label><br/>
<%= text_field 'usuario', 'clave'  %></p>

<!--[eoform:usuario]-->

