
<div id="extra">
<h3>Ayuda</h3>
<p>Los pesos dependen de cada asignatura.</p>
<p>Cada nuevo curso hay que crear las asignaturas que se van a impartir, y tambi&eacute;n sus pesos correspondientes.</p>
</div>
