
<div id="extra">
<h3>Definiciones</h3>
<p>Lo más habitual es crear un horario de ciclo semanal. Para ello usaremos "Día de la Semana" como: 
(1) Lunes, (2) Martes, (3) Miércoles, (4) Jueves y (5) Viernes.</p>
<p>Ejemplo de asignación de los intervalos de tiempo:</p>
<ul>
  <li>1-3, son las tres primeras horas de la mañana, antes del recreo.</li>
  <li>4-6, son las tres últimas horas de la mañana, después del recreo.</li>
  <li>7-9, son las tres primeras horas de la tarde, antes del recreo.</li>
  <li>10-12, son las tres últimas horas de la tarde, después del recreo.</li>
</ul>
</div>
