
<div id="extra">
<h3>Definición</h3>
<p>Los "pesos" son los criterios de evaluación.</p>
<p>Por ejemplo, podemos tener los siguientes:</p>
<ul>
  <li>Ejercicios o prácticas de clase 30%.</li>
  <li>Exámenes o pruebas objetivas un 60%.</li>
  <li>Valoración actitudinal un 10%.</li>
</ul>
<p>Los "pesos" van a ayudar a establecer la forma de calcular la nota final. Cada actividad, por tanto,
 se definirá asociada a un tipo de "peso" concreto.</p>
</div>
