
<div id="extra">
<h3>Ayuda</h3>
<p>Cada matr&iacute;cula es una asociaci&oacute;n entre el/la alumn@ y su grupo.</p>
<p>Es una especie de ficha que reune los datos de la actividad del alumn@ dentro del grupo, durante el curso elegido.</p>
</div>
