
<div id="extra">
<h3>Ayuda</h3>
<p>Las "programaciones" son realmente los módulos o asignaturas que se imparten durante
 un curso académico concreto.</p>
<p>Por ejemplo, el módulo DIR siempre será el mismo, pero cuando se imparte en el curso 2009-2010,
 nos estamos refiriendo a una programación concreta para un curso concreto. Esto es "DIR:2009-2010".</p>
<p>A los alumnos se les evalúa sobre una programación concreta "DIR:2009-2010",
 y no sobre un módulo genérico DIR.</p>
</div>
