
<div id="extra">
<h3>Ayuda</h3>
<p>Es necesario definir las aulas donde vamos a impartir las clases, porque se necesitarán
 para confeccionar los horarios y programaciones.</p>
<p>Las programaciones se crean asociadas al aula donde se van a impartir. Esto nos facilitará la labor
 de diseño de los horarios de alumnos y profesores.</p>
 </div>
