
<div id="extra">
<h3>Ayuda</h3>
<p>Los grupos se crean cada nuevo curso, y est&aacute; asociados a una determinada asignatura.</p>
<p>Si impartimos la misma asignatura a varios grupos, debemos diferenciarlos mediante la 'letra' del grupo.</p>
</div>
