<h1>Entrada#index</h1>
<p>Find me in app/views/entrada/index.rhtml</p>
<p><%=@bienvenida%></p>
<ul>
  <li><a href="http://localhost:3000/categorias">Categorias</a></li>
  <li><a href="http://localhost:3000/contactos">Contactos</a></li>
</ul>

