<%= error_messages_for 'aula' %>

<!--[form:aula]-->
<p><label for="aula_nombre">Nombre</label><br/>
<%= text_field 'aula', 'nombre'  %></p>

<p><label for="aula_foto">Foto</label><br/>
<%= text_field 'aula', 'foto'  %></p>

<p><label for="aula_descripcion">Descripción</label><br/>
<%= text_field 'aula', 'descripcion'  %></p>

<!--[eoform:aula]-->

