<STYLE TYPE="text/css">
<!--
BODY { background-color: WHITE }
H1 { color: BLACK;
     background-color: CYAN;
     text-align: center;
     font-size: 36px;
     font-family: Arial Black, Arial, Helvetica, sans-serif
}
H2 { color: BLACK;
     text-align: center;
     font-size: 24px;
     font-family: Arial, Helvetica, sans-serif
}
TH.COLORED { background-color: CYAN }
A:hover { color: red }
-->
</STYLE>