<%= error_messages_for 'foto' %>

<!--[form:foto]-->
<p><label for="foto_fichero">Fichero</label><br/>
<%= text_field 'foto', 'fichero'  %></p>

<p><label for="foto_fecha_creacion">Fecha creacion</label><br/>
<%= datetime_select 'foto', 'fecha_creacion'  %></p>

<p><label for="foto_thumbnail">Thumbnail</label><br/>
<%= text_field 'foto', 'thumbnail'  %></p>

<p><label for="foto_descripcion">Descripcion</label><br/>
<%= text_field 'foto', 'descripcion'  %></p>
<!--[eoform:foto]-->

