
<div id="extra">
<h3>Definición</h3>
<p>Los módulos representan los tipos de asignaturas que se pueden impartir dentro de cada ciclo.</p>
<p>Para que un módulo pueda impartirse es necesario crear una programación basada en dicho módulo.</p>
</div>
