<% for column in Aula.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @aula.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @aula %> |
<%= link_to 'Back', :action => 'list' %>
