<%= error_messages_for 'pase' %>

<!--[form:pase]-->
<p><label for="pase_nombre">Nombre</label><br/>
<%= text_field 'pase', 'nombre'  %></p>

<p><label for="pase_creado_en">Creado en</label><br/>
<%= datetime_select 'pase', 'creado_en'  %></p>
<!--[eoform:pase]-->

