<%= error_messages_for 'diapositiva' %>

<!--[form:diapositiva]-->
<p><label for="diapositiva_posicion">Posicion</label><br/>
<%= text_field 'diapositiva', 'posicion'  %></p>
<!--[eoform:diapositiva]-->

