
<div id="extra">
<h3>Ayuda</h3>
<p>Las "actividades" se asocian a una unidad didáctica de una programación didáctica.</p>
<p>El atributo "valor_max", es un valor numérico que define la escala numérica para calificar 
los trabajos de los alumnos.</p>
<p>Por ejemplo, un "valor_max" de 10, significa que los trabajos se evaluan de 0 a 10.</p>
</div>
