<%= error_messages_for 'aula' %>

<!--[form:aula]-->
<p><label for="aula_nombre">Nombre</label><br/>
<%= text_field 'aula', 'nombre'  %></p>

<p><label for="aula_desc">Desc</label><br/>
<%= text_field 'aula', 'desc'  %></p>
<!--[eoform:aula]-->

