<% for column in Categoria.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @categoria.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @categoria %> |
<%= link_to 'Back', :action => 'list' %>
