<%= error_messages_for 'departamento' %>

<!--[form:departamento]-->
<p><label for="departamento_nombre">Nombre</label><br/>
<%= text_field 'departamento', 'nombre'  %></p>
<!--[eoform:departamento]-->

