
<div id="extra">
<h3>Ayuda</h3>
<p>Los registros del tipo "Ciclo" definen una fase de la etapa educativa.
 Comprende uno o más cursos académicos y contiene un conjunto de módulos y/o asignaturas.</p>
<p>Si se necesita, se podría definir como "ciclos" a ESO y BACH, aunque estrictamente no lo sean.</p>
</div>
