
<div id="extra">
<h3>Ayuda</h3>
<p>En cada inicio del curso académico hay que crear un registro del tipo "curso".</p>
<p>Dicho registro aglutina toda la información cambiante de un curso a otro: horarios, programaciones,
 matrículas, etc.</p>
<p>Las fechas finales de cada evaluación se corresponden con el último día para poner las notas.
 Ademas, la fecha final de la 3ª evaluación no es la fecha del final del curso.</p>
</div>
