
<div id="extra">
<h3>Ayuda</h3>
<p>Las tareas dependen de cada unidad.</p>
<p>Cuando se crea la tarea, autom&aacute;ticamente se crean 'notas' a tod@s l@s alumn@s
 matriculad@s en dicha asignatura. Las 'notas' aparecer&aacute;n inicialmente en blanco, hasta que el profesor/a
 califique.</p>
</div>
