
<div id="extra">
<h3>Ayuda</h3>
<p>Los registros de "centro" nos permiten por un lado agrupar la información asociada a cada centro.
 Como por ejemplo, los ciclos que se imparten, aulas utilizadas, reparto de las jornadas de trabajo, etc.</p>
 <p>Por otro lado, es útil para registrar la información de un profesor sin plaza fija, que cada curso
  trabaja en un centro diferente.</p>
</div>
