<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.rubypeople.rdt.launching.LaunchConfigurationTypeRubyApplication">
<booleanAttribute key="org.rubypeople.rdt.launching.USE_DEFAULT_LOAD_PATH" value="true"/>
<stringAttribute key="org.rubypeople.rdt.launching.INTERPRETER_ARGUMENTS" value=""/>
<stringAttribute key="org.rubypeople.rdt.launching.FILE_NAME" value="12.gui/gtk2/misc/holamundo.rb"/>
<stringAttribute key="org.rubypeople.rdt.launching.WORKING_DIRECTORY" value="/home/david/workspace/rcanarias"/>
<stringAttribute key="org.rubypeople.rdt.launching.PROGRAM_ARGUMENTS" value=""/>
<stringAttribute key="org.rubypeople.rdt.launching.SELECTED_INTERPRETER" value="ruby"/>
<booleanAttribute key="org.rubypeople.rdt.launching.USE_DEFAULT_WORKING_DIRECTORY" value="true"/>
<stringAttribute key="org.rubypeople.rdt.launching.PROJECT_NAME" value="rcanarias"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.rubypeople.rdt.debug.ui.rubySourceLocator"/>
</launchConfiguration>
