<?xml version='1.0'?>
<launchConfiguration type='org.rubypeople.rdt.launching.LaunchConfigurationTypeRubyApplication'>
    <stringAttribute key='org.rubypeople.rdt.launching.PROGRAM_ARGUMENTS' value=''/>
    <stringAttribute key='org.rubypeople.rdt.launching.INTERPRETER_ARGUMENTS' value=''/>
    <booleanAttribute key='org.rubypeople.rdt.launching.USE_DEFAULT_LOAD_PATH' value='true'/>
    <stringAttribute key='org.rubypeople.rdt.launching.PROJECT_NAME' value='rcanarias'/>
    <booleanAttribute key='org.rubypeople.rdt.launching.USE_DEFAULT_WORKING_DIRECTORY' value='true'/>
    <stringAttribute key='org.rubypeople.rdt.launching.WORKING_DIRECTORY' value=''/>
    <stringAttribute key='org.eclipse.debug.core.source_locator_id' value='org.rubypeople.rdt.debug.ui.rubySourceLocator'/>
    <stringAttribute key='org.rubypeople.rdt.launching.FILE_NAME' value='01.intro/hola_mundo1.rb'/>
    <stringAttribute key='org.rubypeople.rdt.launching.VM_INSTALL_NAME' value='usr'/>
    <stringAttribute key='org.rubypeople.rdt.launching.SELECTED_INTERPRETER' value='ruby'/>
</launchConfiguration>