<p>
  <b>Variable:</b>
  <%=h @parametro.variable %>
</p>

<p>
  <b>Valor:</b>
  <%=h @parametro.valor %>
</p>


<%= link_to 'Edit', edit_parametro_path(@parametro) %> |
<%= link_to 'Back', parametros_path %>
