
#menunav {
	width: 20%;
	float: left;
	background: white;
	margin-bottom: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	text-align: justify;
	border-right: 1px solid black;
}

#contenido {
	width: 55%;
	float: left;
	background: white;
	margin-bottom: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
}

#extra {
	width: 15%;
	float: left;
	background: #eee;
	padding: 1em;
	border: 1px solid #333;
}

#pie {
	clear: both;
	padding-bottom: 1em;
	border-top: 1px solid #333;
	text-align: center;
}
