<% for column in Modulo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @modulo.send(column.name) %>
</p>
<% end %>

<%= link_to 'Editar', :action => 'edit', :id => @modulo %> |
<%= link_to 'Volver', :action => 'list' %>
