
<div id="extra">
<h3>Definición</h3>
<p>Toda programación se compone de varias unidades didácticas.</p>
<p>Todas las actividades que programemos deben ir asociadas a alguna de las unidades previamente definidas.</p>
</div>
